/* /* .outlet {
  background-color: rgb(214, 102, 164);
} */

.movieCard {
    /* border: 1px solid red; */
    /* display: inline-block; */
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(235, 240, 238);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  
  .movieCard > img {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 320px;
    height: 320px;
    border-radius: 20px;
  }
  
  .movieCard > h3 {
    background-color: rgb(235, 241, 239);
  }
  
  .movieCard > h5 {
    background-color: rgb(237, 243, 241);
  }
  
  .movieCard > p {
    background-color: rgb(236, 241, 240);
  }
  
  .movieCard > div {
    background-color: rgb(236, 241, 240);
    display: flex;
  }
  
  .movieCard > div > button {
    background-color: rgb(222, 223, 224);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2 8px;
    margin: auto;
  }
  
  /* .navbar {
      border: 1px solid black;
      border-radius: 15px;
  } */
  
  .error {
    background-size: contain;
  }
  
  .details-main {
    border: 1px solid transparent;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .detials-poster {
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    background-color: rgb(226, 65, 25);
    padding: 20px;
  }
  .detials-poster > img {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .details-heading {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(223, 192, 238);
    width: 100%;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .fav-btn {
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: blue;
  }
  
  .similars {
    border: 1px solid transparent;
    margin-top:  10px;
    border-radius: 15px;
    background-color: rgb(207, 182, 230);
  }
  .similars > h2 {
    border: 1px solid transparent;
    border-radius: 15px;
    padding-left: 15px;
    margin: 5px;
    background-color: aqua;
  }
  
  .card-simmer-card {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    height: 450px;
    background-color: rgb(208, 210, 212);
  }
  
  .card-simmer-card > img {
    border-radius: 15px;
    width: 320px;
    height: 320px;
  }
  
  .popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page {
    display: inline-block;
    margin: auto;
  }
  .page > Button {
    margin: 0px 10px;
  }
  
  @media screen and  (min-width: 480px) {
    .movies-list {
      display: flex;
    }
  } 